# CakePHP
/vendor/*
/tmp/*
/logs/*
/webroot/coverage/*
/node_modules/*
TestController.php
/plugins/*

# External tool builders
.externalToolBuilders/

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Composer
composer.phar

# PhpStorm
/.idea/*

# Front-end libraries
/webroot/bootstrap/*

# Configuration
/config/.env
/config/.env.dev
/config/.env.production
/config/.env.production.inmotion
/config/recaptcha.php
/config/app_local.php
/config/app_local.production.php
/config/app_local.dev.php
/config/Migrations/schema-dump-default.lock
/config/Google/*

# Docker
/database/*

# Other
/webroot/audio/*
.ftpquota
webroot/error_log
